* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;
    outline: none;


    /* Ayuda momentanea*/


    /* border: solid 2px red; */

    list-style: none;
    text-decoration: none;
    color: #f2f2f2;
    font-size: 16pt;

    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

.title-1 {
    font-size: 56px;
    font-weight: 600;
}

h1 {
    padding: 0px 0px 16px 0px;
}

.section-article-1 {
    text-align: center;
    padding: 24pt;
}

body {
    /*background-image: linear-gradient(45deg, red. blue. 0.355);*/
    /*background-image: url(/assets/img/pexels-photo-904616\ 1.png);
    background-size: 100%;
    background-repeat: repeat-y;*/
    margin: 0;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
}

header nav ul li a{
    margin: 15px;
    font-size: 19px;
    font-weight: 500;
}

nav ul li a {
    color: #f2f2f2;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: rgba(242, 190, 92, 0.9);
    transform: scale(1.1);
}

.jumbotron {
    position: relative;
    height: 89vh;
    padding: 0;
    overflow: hidden;
}

.jumbotron h1 {
    position: absolute;
    bottom: 50px;
    left: 20px;
    padding-right: 20%;
    margin: 0 0 20px 0;
    line-height: 1.2;
    font-size: 56px;
    font-weight: 600;
}

.Ver-mas {
    position: absolute;
    bottom: 10px;
    left: 20px;
    background-color: transparent;
    border: solid 1px #F2BE5C;
    border-radius: 10px;
    width: 211px;
    height: 59px;
    padding: 10px 50px;
    font-weight: 600;
    transition: transform 0.3s, background-color 0.3s ease
}

.Ver-mas:hover {
    background-color: rgba(242, 190, 92, 0.1);
    transform: scale(1.1);
}



.Parrafos-azul {
    color: #2C3359;
}

header {
    background-image: url(/assets/img/pexels-photo-904616\ 1.png);
    background-size:cover;
    padding: 24pt 60px;
}

.section-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2C3359;
    padding: 100px 184px;
    color: #f2f2f2;
}


.section-article-1 {
    flex: 1;
    padding: 24pt;
    margin: 0 24px;
    margin-right: 10%;
    box-sizing: border-box;
}

.section-1 img {
    width: 40%;
    border-radius: 15px;
}

.section-1 h2 {
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 57px;
}

.section-1 p {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-indent: 30px;
}

.section-2 {
    display: flex;
    justify-content: space-between;
    background-color: #F2EDE4;
}

.Beneficios {
    text-align: center;
    flex: 1;
    margin: 9%;
}


.Beneficios h3 {
    font-size: 32px;
    font-weight: 700;
    margin: 13px 0;
}

.Beneficios p {
    font-size: 21px;
    font-weight: 400;
}

.Beneficios img {
    max-width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2C3359;
    padding: 60px;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-bottom: 1px solid #fff;
}

footer nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: right;
    margin-right: 100px;
    margin-bottom: 20px;
}

.footer-section h3 {
    text-align: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.5;
    align-self: flex-end;
}

.footer-section a {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 5px;
}

.footer-section:last-child {
    margin-right: 0;
}

.social-media {
    display: flex;
    flex-direction: grow;
    justify-content:end;
    align-items: flex-end;
    gap: 15px;
    align-self: stretch;
    margin-top: 20px;
}

.social-media img {
    max-width: 32px;
}

.copyright {
    align-self: flex-end;
    font-size: 1px;
}

.copyright p {
    font-size: 16px;
    font-weight: 500;
}
