body {
    background-image: url(/assets/img/pexels-photo-904616\ 1.png);
}

#section-1 {
    background-color: #2C3359;
}

#section-2 {
    background-color: #F2EDE4;
}

footer {
    background-color: #2C3359;
}